/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-family: "Oswald", sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.firstViewContainer {
    display: flex;
    flex-direction: column;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    /*flex-flow:;*/
    color: #ffffff;
    /*text-align: center;*/
    width: auto;
    flex-grow: 1;
}

.calcResults {
    display: flex;
    flex-direction: column;
    width: auto;
}

.results {
    display: flex;
    align-items: center;
    flex-direction: column;
}
 #buttonItems {
     margin-left: auto;
     margin-right: auto;
     min-height: 1px;
     position: relative;
 }

 .calcContainer{
     display: flex;
     padding: 20px 60px 20px 60px;
 }

 #reset {
     font-size: 19px;
     padding: 5px 40px 5px 40px;
     -webkit-border-radius: 1px;
     border-color: #ffffff;
     background-color: #ed1c2e;
     background: linear-gradient(#ed1c2e, #ed1c2e);
     background-image: linear-gradient(rgb(237, 28, 46), rgb(237, 28, 46));
     background-position-x: initial;
     background-position-y: initial;
     background-size: initial;
     background-repeat-x: initial;
     background-repeat-y: initial;
     background-attachment: initial;
     background-origin: initial;
     background-clip: initial;
     background-color: #ed1c2e;
     color: #ffffff;
     border-width: 1px;
     border-style: solid;
     font-weight: bold;
     text-transform: uppercase;
     letter-spacing: 0.8px;
     display: inline-block;
     -webkit-appearance: none;
     /*border: 0;*/
     /*outline: 0;*/
     vertical-align: baseline;
     text-align: center;
 }

 #calculate {
     font-family: Oswald, sans-serif;
     font-weight: bold ;
     font-size: 19px;
     color: #ed1b2e;
     padding: 5px 40px 5px 40px;
     margin: 0px 10px 10px 0px;
     background: linear-gradient(#ffffff, #cecece);
     border-color: #ed1b2e;
     background-image: linear-gradient(rgb(255, 255, 255), rgb(206, 206, 206));
     background-position-x: initial;
     background-position-y: initial;
     background-size: initial;
     background-attachment: initial;
     background-origin: initial;
     background-clip: initial;
     background-color: initial;
     text-transform: uppercase;
     letter-spacing: 0.8px;
     -webkit-border-radius: 0px;
     border-width: 1px;
     border-style: solid;
     display: inline-block;
     text-align: center;
     line-height: 1.7;
 }

div#container {
    width: 580px;
    margin: 100px auto 0 auto;
    padding: 20px;
    background: #000;
    border: 1px solid #1a1a1a;
}

/* HOVER STYLES */
div#pop-up1 {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    background: #eeeeee;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
}

div#pop-up2 {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    background: #eeeeee;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
}

div#pop-up3 {
    display: none;
    position: absolute;
    width: 280px;
    padding: 10px;
    background: #eeeeee;
    color: #000000;
    border: 1px solid #1a1a1a;
    font-size: 90%;
}

div.calcResults{
    display: none;
}

div.protip{
    display: none;
}
div#mediaRunDiv{
    display: none;
}

div#orMedia{
    display: none;
}

div#customInput{
    display: none;
}
.iconArea {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    align-content: center;
    text-align: center;
}

.inputResults {
    display: block;
    width: 100%;
}

.fileSpec{
    padding: 10px 5px 15px 20px;
    background-color: #0a0a0a;
}

#securityCheck {
    /*width: 100%;*/
    /*min-width: 80%;*/
}


h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
}

#specBand{
    display: block;
}

.inputResults h6 {
    color: #000000;
    font-size: 22px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Oswald, sans-serif;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    padding: 0;
}
h1 {
    font-size: 20px
}


.reveal-if-active {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

input[type="radio"]:checked ~ .reveal-if-active,
input[type="checkbox"]:checked ~ .reveal-if-active {
    opacity: 1;
    max-height: 220px; /* little bit of a magic number :( */
    overflow: visible;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
